# Image file for inputting the occupancy grid
map = bin/maps/parking.ppm

# saved configuration map (must comment out if ocs or geom are modified below, to regenerate)
#cmap = bin/maps/parking.cmap

# (theta,x,y)
start = 0, 3, 5
goal = 0, 23, 20
#goal = 0, 34, 28

# geometry of the car
#   Further description in cargrid.h
# comment this line to disable the use of car geomery
geom = 3, 1.5, -0.75, 0

# occupancy cell size (theta, x, y)
ocs = 0.05, 0.1, 0.1
#ocs = 0.19634954084, 0.2, 0.2

# lattice cell size (theta, x, y) 
#   (ideally ocs < gcs)
gcs = 0.19634954084, 0.2, 0.2
#gcs = 0.05, 0.1, 0.1



# Parameter describing the shape of the primitives
#   used by CarConnectivity class
dt = .5
vx = 4
kmax = 0.57
kseg = 4
onlyfwd = 0

# Parameter describing the shape of the primitives
#   used by CarConnTwistPrim class.
#   Details description of the primitives at carprimcfg.h
prim_fwdonly = 0
prim_tphioverlmax = 0.57
prim_lmin = 0.6 
prim_lmax = 2.0
prim_nl = 2
prim_amax = 1.571  
prim_na =  7
prim_pert = 1
prim_tocenter = 1 

# Angle mixing factor 
#   used in CarCost class
ac = 0.1

# To expand the graph of predecessors and successors
#   at start or not (0/1)
initExpand = 0

# Output image+ path
#  if true prints car rectange else just points
plot_car = 1
